#banner-container {
	background-image: url(../img/adopt.jpg);
	background-repeat: no-repeat;
	background-position: 30% 0%;
}

#banner-text {
	width: 370px;
}

#slideshow-container {
	width:100%;
	height: 425px;
	position: relative;
	top:0px;
	left:0px;
	overflow:hidden;
	opacity:0.9;
}

.slideshow-img {
	width:100%;
}

.slideshow-arrow {
	position: absolute;
	width: 40px;
    height: 40px;
    opacity: 0.7;
	top: 35%;
	margin-top: -15px;
}

#right-arrow {
	right:0px;
}

#left-arrow {
	left:-5px;
}

.slideshow-arrow:hover {
	opacity:1;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

#search-bar-container {
	width:50%;
	margin-top:15px;
	margin-bottom:15px;
	position: relative;
}

#search-bar {
	padding:10px;
	background:white;
	border:none;
	width:90%;
}

#search-bar-button {
	background: url("../img/search.png") no-repeat -3 -4 transparent;
	opacity:0.8;
	padding:6px 15px;
	border:0.5px solid #6699cc;
	position:relative;
	top:2px;
}

#search-bar-button:hover {
	opacity:1;
	cursor: pointer;
	-webkit-transition: 0.2s;
}

#adopt-descr {
	font-size: 24;
}

#adopt-loc {
	font-weight:100;
	font-size: 24;
}

#zip {
	color:rgb(216, 55, 98);
	display:inline-block;
}

#adopt-items {
	padding-left:15px;
}

.adopt-item {
	display:inline-block;
	width:17%;
	text-align: center;
}

.adopt-center-item {
	width:28%;
}

#adopt-container {
	padding-bottom:60px;
}

.center-img {
	opacity:1;
}

.hidden {
	display:none;
}