#banner-container {
	background-image: url(../img/gallery.jpg);
	background-repeat: no-repeat;
}

#banner-text {
	width:300px;
}

.image-column {
	display:inline-block;
	width:33%;
	text-align: center;
}

.gallery-img {
	width:90%;
	padding:10px; 
	z-index: 5;
}

.gallery-container {
	display:none;
	width:100%;
	height: 0px;
	position: relative;
	top: 115px;
	z-index: 10;
}

.plus {
	position: relative;
	height:40px;
	width:40px;
	top:6px;
	z-index: 10;
}

.count {
	position: relative;
	font-weight:900;
	font-size:50;
	color:black;
	z-index:10;

}

#search-bar-container {
	width:50%;
	margin-top:15px;
	margin-bottom:15px;
	position: relative;
	left: 55px;
}

#search-bar {
	padding:10px;
	background:white;
	border:none;
	width:90%;
}

#search-button {
	background: url("../img/search.png") no-repeat -3 -4 transparent;
	opacity:0.8;
	padding:6px 15px;
	border:0.5px solid #6699cc;
	position:relative;
	top:2px;
}

#search-button:hover {
	opacity:1;
	cursor: pointer;
	-webkit-transition: 0.2s;
}

#search-descr {
	position:relative;
	left:55px;
	font-size:24px;
	font-weight:100;
}