#banner-container {
	background-image: url(../img/gallery.jpg);
	background-repeat: no-repeat;
}

#banner-text {
	margin-left:0px;
	margin-right:10px;
	float:right;
}

.image-column {
	display:inline-block;
	width:33%;
	text-align: center;
}

.gallery-img {
	width:90%;
	padding:10px;
}