body {
	font-family: "Alegreya Sans";
	background: #f4f3f1;

}

#nav-bar {
	background: #242424;
	width: 100%;
	color: white;
	height:70px;
	z-index: 5;
}

.nav {
	position:absolute;
	top:425px;
	left:0px;
}

.sticky-nav {
	position:fixed;
	top:0px;
	left:0px;
}

#nav-toolbar {
	position: relative;
	top: -36px;
	right: 10px;
}

.nav-toolbar-item {
	float:right;
	opacity: 0.8;
	padding-right: 50px;
	padding-left: 50px;
	border-right:1px solid rgb(216, 55, 98);
}

.nav-toolbar-item:hover {
	opacity: 1;
	cursor: pointer;
	-webkit-transition:0.2s;
}

#toolbar-item5 {
	border-right:none;
}

#logo {
	position: relative;
	height:60px;
	width:60px;
	top:2px;
	left:10px;
}

#banner-container {
	width:100%;
	height: 425px;
	position: absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	opacity:0.9;
	background-image: url(../img/main-banner.jpg);
	background-repeat: no-repeat;
	background-position: 30% 0%;
}

#banner-text {
	font-weight: 700px;
	font-style:bold;
	font-size: 50px;
	color:white;
	position: relative;
	width: 450px;
	margin-top: 280px;
	line-height: 76px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	padding-left:10px;
	margin-left:10px;
}

#banner-sub-text {
	font-weight: 600px;
	font-style:bold;
	font-size: 30px;
	color:white;
	position: relative;
	width: 450px;
	line-height: 32px;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	padding-left:10px;
	margin-left:10px;
}

/*.slideshow-img {
	width:100%;
}

.slideshow-arrow {
	position: absolute;
	width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0.7;
	top: 50%;
	margin-top: -15px;
}

#left-arrow {
	left: 60px;
}

#right-arrow {
	right: 60px;
}

.slideshow-arrow:hover {
	opacity:1;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}*/

#page-content {
	max-width: 1024px;
	margin-left:auto;
	margin-right:auto;
	margin-top:505px;
}

.sub-title {
	font-weight:700;
	font-size: 30;
	color: rgb(216, 55, 98);
}

#care-container {
	width:100%;
	height:300px;
	margin-top:20px;
}

.care-item {
	display:inline-block;
	width:33%;
	text-align: center;
}

.care-img {
	padding:15px;
}

.care-content {
	height: 60px;
	text-overflow: ellipsis;
	width: 70%;
	margin-left:auto;
	margin-right:auto;
}

#care-learn-more {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

#adopt-descr {
	font-weight:100;
}

#adopt-container {
	width:100%;
	height:460px;
	margin-left:auto;
	margin-right:auto;
}

.adopt-item {
	display:inline-block;
	width:24%;
	text-align: center;
}

.adopt-img {
	padding:15px;
	width:70%;
	opacity: 0.85;
}

.adopt-img:hover {
	opacity:1;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.adopt-details {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

#adopt-see-more {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

#shop-container {
	width:100%;
	height:200px;
}

#shop-see-more {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

#followus-container {
	text-align: center;
	width:100%;
	height:50px;
}

.img-scaled {
	width: 100%;
	height: 100%;
}


a {
	color:rgb(216, 55, 98);
	opacity:0.7;
	text-decoration: none;
}

a:hover {
	opacity:1;
	cursor:pointer;
}

footer {
	background: #242424;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	color:white;
	height:20px;
	z-index: 5;
}